.categorybar {
  display: flex;
  margin: 10px 45px;
}

.link {
  display: flex;
  flex-direction: column;
  border: 2px solid #84B59F;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 35px;
  margin-bottom: 20px;
  margin-right: -15px;
  cursor: pointer;
  transform: scale(0.8);
}

.active {
  background-color: #84B59F;
  color: #fff;
}
 
/*
.categoryTitle {
  
}
*/
