.loader-wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
}

.loader {
    position: relative;    
    top: 0%;
}