.Nopagefound_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #3F785F;
    padding-top: 2%;
}

.message_wrapper {
    text-align: center;
    margin-bottom: 3%;
}

h1 {
    font-size: 30px;
    margin-bottom: 3%;
}

p {
    font-size: 16px;
    margin-bottom: 1%;
}

.sadburger_wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sadburger_img {
    width: 30vw;
}