.searchformWrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.searchform {
  position: relative;
  margin-bottom: 20px;
}

input {
  border: none;
  background-color: white;
  font-size: 16px;
  color: black;
  padding: 15px 40px;
  border: 2px solid #3F785F;
  border-radius: 50px;
  width: 60vw;
  max-width: 35rem;
  min-width: 20rem;
  outline: none;
}

.searchicon {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(100%, -50%);
  color: #3F785F;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}