.cuisineWrapper {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.cuisineGrid {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.cuisineImage {
  width: 100%;
}

.cuisineItemTitle {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.cuisineLink {
  text-decoration: none;
}

.cuisineCard {
  width: 40vw;
  max-width: 15rem;
  margin-bottom: 25px;
}