.navbar {
  background-color: #84B59F;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 80px;
}

.icon {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: 'Dancing Script';
  padding: 0px 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 260px;
  padding-top: 25px;
}

.navbar_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  padding-right: 30px;
  margin-top: -25px;
}

.favorites {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  padding-right: 65px;
  margin-top: -25px;
}