.no_result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #3F785F ;
}

.dog-title-div{
    text-align: center;
}

.dog-title{
font-size: 21px;
color: #84B59F;
margin: 15px;
}

.dog-img-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.dog-img-div{
display: flex;
justify-content: center;
width: 50vw;
}

@media screen and (max-width: 500px) {
    .dog-img-div{
        width: 70vw;
    }
}

#dog-img{
object-fit: contain;
border: 11px ridge #84b59f;
max-height: 45vh;
}