.popularWrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.popularTitle {
  margin-bottom: 2%;
  font-size: 20px;
}

.popularCard {
  min-height: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;  
}

.popularRecipeTitle {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popularRecipeImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}