.popularWrapper {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.popularTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  margin-bottom: 1%;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.popularCard {
  min-height: 350px;
  position: relative;  
}

.popularRecipeTextWrapper {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

.popularRecipeTitle {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.popularTimeWrapper {
  display: flex;
  align-items: center;
}

.timeIcon {
  margin-right: 5px;
  margin-top: 3px;
}

.popularRecipeTime {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 400;
  font-size: 16px;
}

.popularRecipeImage {
  position: absolute;
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: flex;
}

@media screen and (max-width: 500px){
  .popularRecipeImage {
    height: 70%;
    width: 90%;
  }
}

@media screen and (max-width: 500px){
  .popularRecipeTextWrapper {
    top: 71%;
  }
}