.summaryWrapper {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  text-align: center;
}



.titleAndSummary {
  margin-left: 5%;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 5%;
  text-align: center;
}

.summary {
  font-size: 16px;
  padding-bottom: 10px;
}

.detailsWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 5%;
}

button {
  padding: 14px 23px;
  font-size: 17px;
  color: #313131;
  background: #fff;
  border: 2px solid #84B59F;
  border-radius: 50px;
  margin-bottom: 10px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px;
}

.active{
  background-color: #84B59F;
  color: #fff;
}

.info {
width: 70vw;
max-width: 60rem;
}

.ingredients {
  font-size: 16px;
  line-height: 40px;
  margin-top: 20px;
}

.instructions {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}

.image{
  max-width: 40rem;
  width: 70vw;
}




@media screen and (max-width: 900px){

  .btn-wrapper{
    display: flex;
    justify-content: center;
  }

  .recipeImage{
    width: 100%;
  }

  .summaryWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

}


.favorite-heart-false{
  font-size: 45px;
}