.searchedWrapper {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.searchedGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.searchedImage {
  width: 100%;
}

.searchedItemTitle {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.searchedLink {
 text-decoration: none;
}

.searchedCard{
  width: 40vw;
  max-width: 15rem;
  margin-bottom: 25px;
}