.veggieWrapper {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.veggieTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  margin-bottom: 1%;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.veggieCard {
  min-height: 350px;
  position: relative;
}

.veggieRecipeTextWrapper {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

.veggieRecipeTitle {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.veggieTimeWrapper {
  display: flex;
  align-items: center;
}

.timeIcon {
  margin-right: 5px;
  margin-top: 3px;
}

.veggieRecipeTime {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 400;
  font-size: 16px;
}

.veggieRecipeImage {
  position: absolute;
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: flex;
}

@media screen and (max-width: 500px){
  .veggieRecipeImage {
    height: 70%;
  }
}

@media screen and (max-width: 500px){
  .veggieRecipeTextWrapper {
    top: 71%;
  }
}