.veggieWrapper {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.veggieTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  margin-bottom: 1%;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.veggieCard {
  min-height: 350px;
  position: relative;
}

.veggieRecipeTitle {
  font-family: 'Playfair Display', serif;
  position: absolute;
  left: 50%;
  top: 81%;
  transform: translate(-50%, 0%);
  color: black;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  display: flex;
  margin-left: 5px;
}

.veggieRecipeTimeWrapper {
  display: flex;
  align-items: center;
  top: 88%;
  position: absolute;
  margin-left: 5px;
}

.veggieRecipeTime {
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 7px;
}

.veggieRecipeImage {
  position: absolute;
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: flex;
}