.searchedWrapper {
    margin: 5%;
}

.searchedGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.searchedImage {
  width: 100%;
  border-radius: 10px;
}

.searchedItemTitle {
  text-align: center;
  padding: 1rem;
}

.searchedLink {
 text-decoration: none;
}

.searchedCard{
  width: 40vw;
  max-width: 15rem;
}